<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "co.uk.posbee.app"
        version   = "1.3.4">
    <name>Leagrave Fish Bar  Mobile App</name>
    <description>
        Powered by Posbee
    </description>
    <author email="basti@codemywebapps.com" href="http://cordova.io">
        Posbee.co.uk
    </author>
    <icon src="icon.png" />
    <content src="index.html" />

    <preference name="orientation" value="portrait" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="permissions" value="none"/>

    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="phonegap-plugin-push" source="npm" spec="1.5.3" />
    <gap:plugin name="com.paypal.cordova.mobilesdk" source="npm"  />
    <gap:plugin name="cordova-plugin-device" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
    <gap:plugin name="cordova-plugin-splashscreen" />
    <gap:plugin name="cordova-plugin-geolocation" />
    <gap:plugin name="cordova-plugin-network-information" />

    <gap:plugin name="cordova-plugin-request-location-accuracy" source="npm" />
    <gap:plugin name="cordova-plugin-x-toast" source="npm" />

    <gap:plugin name="cordova-plugin-fastrde-checkgps" source="npm" />
    <gap:plugin spec="https://github.com/rodrigo-martinezd/cordova-dialog-gps.git" source="git" />

    <gap:plugin spec="https://github.com/razorpay/razorpay-cordova.git" source="git" />
    <gap:plugin name="cordova-plugin-media" source="npm" />

    <gap:plugin name="https://github.com/mapsplugin/cordova-plugin-googlemaps.git"  source="git"  >
        <param name="API_KEY_FOR_ANDROID" value="AIzaSyBCULSf3P3Q3O6ufqx58E80Y5BWNtuITOI" />
        <param name="API_KEY_FOR_IOS" value="AIzaSyCC6lleNp7mLBhRbgDZoaDWb64Q-OZ-jWI" />
    </gap:plugin>

    <gap:splash src="splash.png" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="fullscreen" value="false" />
    <preference name="android-minSdkVersion" value="16" />

    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />

    <gap:config-file platform="android" parent="/manifest">
        <supports-screens android:xlargeScreens="true" android:largeScreens="true" android:smallScreens="true" />
        <application android:theme="@android:style/Theme.NoTitleBar" >
        </application>
    </gap:config-file>

</widget>