<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    xmlns:android = "http://schemas.android.com/apk/res/android"
    id        = "dri.mobile.posbee"
    version   = "1.3.3">
    <name>Leagrave Fish Bar  Mobile App</name>
    <description>
        Leagrave Fish Bar  mobile app version
    </description>
    <author email="basti@codemywebapps.com" href="http://cordova.io">
        codemywebapps.com
    </author>
    <icon src="icon.png" />           
    <content src="index.html" />
               
	<preference name="orientation" value="portrait" />
	<preference name="android-build-tool" value="gradle" />
	<preference name="permissions" value="none"/>	
		
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="phonegap-plugin-push" source="npm" spec="1.5.3" />
    <gap:plugin name="com.paypal.cordova.mobilesdk" version="3.1.2" />            	
    <gap:plugin name="cordova-plugin-device" />		
	<gap:plugin name="cordova-plugin-inappbrowser" />		
	<gap:plugin name="cordova-plugin-splashscreen" />	
	<gap:plugin name="cordova-plugin-geolocation" />
	<gap:plugin name="cordova-plugin-network-information" />
		
	<gap:plugin name="cordova-plugin-fastrde-checkgps" source="npm" />
	<gap:plugin spec="https://github.com/rodrigo-martinezd/cordova-dialog-gps.git" source="git" />

	<gap:splash src="splash.png" />
	<preference name="AutoHideSplashScreen" value="false" />  	
    <preference name="SplashScreenDelay" value="10000" />    
    <preference name="fullscreen" value="false" />
	
    <access origin="*" />
       
    <gap:config-file platform="android" parent="/manifest">
        <supports-screens android:xlargeScreens="true" android:largeScreens="true" android:smallScreens="true" />
        <application android:theme="@android:style/Theme.NoTitleBar" >            
        </application>
    </gap:config-file>    
    
</widget>